
:root {
   /* Colors */
   --darkBackground: #1a1a1a;
   --lightBackground: #f0f0f0;
   --black: #000;
   --blue: #7a33ff;
   --green: #63c19b;
   --brightGreen: #40f056;
   --grey: #9e9e9e;
   --red: #ff4fad;
   --white: #dedede;
   --wire: #0f0;
}

